[submodule "ceres-solver"]
	path = ceres-solver
	url = https://ceres-solver.googlesource.com/ceres-solver
[submodule "livox_ros_driver"]
	path = livox_ros_driver
	url = https://github.com/rosblox/livox_ros_driver.git
[submodule "VoxelMap"]
	path = VoxelMap
	url = https://github.com/rosblox/VoxelMap.git
